.title{
  width:70%;
  display:block;
  text-decoration: underline;
  font-size:23px;
  text-align: left;
  margin-bottom:10px;
  overflow: hidden;
}
.icon{
  padding:12px;
  width:14%;
  cursor:pointer;
}
td{
  font-size:16px;
  padding-top:7px;
}
th{
  font-size:20px;
}
table{
  width:100%;
}
.outside-link, .general{
  text-align: left;
  width:70%;
  font-size:18px;  
} 
.col{
  width:20%;
  display:inline-block;
}
.list{
padding:30px;
margin-top:-230px;
}
.link{
  font-style:italic;
  margin-left:4px;
  color:green;
}
hr{
  overflow: hidden;
  display:block;
  margin-top:8px;
  margin-bottom:12px;
  float:left;
  width:68%;
}
ul{
  overflow: hidden;  
  padding-bottom:6px;  
  text-align: left;
  font-size:18px;
  width:70%;
}
li{
  margin-top:5px;
  text-align: left;
  font-size:15px;
}